.containerImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        transition: transform 0.3s ease;
    }
    img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    @media (max-width: 992px) {
        flex-direction: column;
        gap: 8px;
        img:hover {
            transform: none;
        }
    }
}