@import '../_variables.scss';
.textListen {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 27px;
    color: $color3;
}

.pairenttextclients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 20px;
    margin-bottom: 1px;
    .textclients {
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        color: $button-color;
        text-align: center;
    }
    @media (max-width: 750px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        .textclients {
            font-size: 28px;
            font-weight: 500;
            line-height: 27px;
            text-align: center;
            color: $button-color;
        }
    }
}

.mySwiper {
    position: relative;
    padding: 0 50px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 400px;
        z-index: 10;
    }
    &::before {
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    &::after {
        right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    @media (max-width: 750px) {
        padding: 0;
        &::before,
        &::after {
            display: none;
        }
    }
}

.card {
    width: 302px;
    max-width: 100%;
    height: 169px;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background-color: white;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 1px 2px 0px #00000033;
        background: linear-gradient(to right, #F0F0F0, #E0E0E0);
    }
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-bullet {
        width: 10px;
        height: 8px;
        background-color: $color3;
        border-radius: 50%;
        transition: all 0.3s ease;
        opacity: 0.5;
        &:nth-child(n+5) {
            display: none;
        }
        &-active {
            background-color: $secondary-color;
            width: 30px;
            border-radius: 16px;
            opacity: 1;
        }
    }
    @media (max-width: 750px) {
        bottom: -60px;
        left: 40%;
    }
}