.swipper-section {
  @include section;
  @include flex(center, center, column, 1px);
  @include text-center;

  .description {
    margin-block: 15px;
  }
}

.description {
  .swipper-title {
    h1 {
      font-weight: $font-regular !important;
    }
  }
  .black-btn {
    max-width: fit-content;
    font-size: 1rem;
    line-height: 24px;
    font-weight: $font-medium;
  }

  .swipper-paragraph {
    span {
      font-weight: $font-bold;
    }
  }
}
