.swipper-section {
  @include section;
  @include flex(center, center, column, 1px);
  @include text-center;

  .description {
    margin-block: 15px;
  }
}

.description {
  .swipper-title {
    h1 {
      font-weight: $font-regular !important;
    }
  }

  .swipper-paragraph {
    span {
      font-weight: $font-bold;
    }
  }
}
