.swipper-section {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  text-align: center;
  gap: 1px;
  .description {
    margin-block: 15px;
  }
}
.description {
  .swipper-title {
    h1 {
      font-weight: $font-regular !important;
    }
  }
  .swipper-paragraph {
    span {
      font-weight: $font-bold;
    }
  }
}
