// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// fonts
@font-face {
  font-family: "Poppins";
  src: url('');
}

body {
  font-family: $font-stack;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
