// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;
// *{
//   margin: 0;
//   padding: 0;
//   overflow-x: hidden;
// }
body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: $font-regular;
}
h1 {
  font-family: $font-stack;
  font-weight: $font-bold;
  color: $secondary-color;
}

p {
  font-family: $font-stack;
  font-weight: $font-medium;
}
.center {
  @include text-center;
}
.sectoin {
  @include section;
}
.black-btn {
  @include black-btn;
}

.card {
  .text {
    h1 {
      color: $dark-color;
      font-weight: $font-medium;
      font-size: 24px;
      line-height: 36px;
    }
  }
  p {
    padding-block: 0.5rem;
    color: $para-color;
    font-size: 1rem;
    line-height: 24px;
  }
}
