@mixin flex($justify: center, $align: center, $direction: row, $gap: 0,$Wrap:nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $Wrap;
}

@mixin text-center {
  text-align: center;
}

@mixin container {
  padding-inline: $padding-inline;
  width: calc(100% - $padding-inline);
  margin-inline: auto;
}

@mixin section {
  margin-block: $margin-section;
}

@mixin black-btn {
  width: calc(100% - 2rem);
  margin-block: 1rem;
  height: 48px;
  border-radius: 12px;
  border: 0.5px solid $border-black-btn;
  background-color: $bg-black-btn;
  padding: 12px 2rem;
  text-align: center;
  color: $primary-color;
  font-size: 1rem;
  font-family: $font-regular;
}
