// colors
$primary-color: #ffffff;
$secondary-color: #000000;
$button-color:#121212;
$ouer-color:#B4DD7E;
$color1 :#F0F0F0;
$color2 :#E0E0E0;
$color3 :#494949;
$color-light-gray: #ECECEC;
$color-light-gray-transparent: rgba(236, 236, 236, 0.2);
$color-gray: #E1E1E2;
$color-dark-gray: #121212;
$color-white: #FFFFFF;
// fonts
$font-stack: "Poppins",
sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;