// colors
$primary-color: #ffffff;
$secondary-color: #000000;
$bg-gray: #e7e7e7;
$border: #d7d7d7;
$bg-white-card: #f9f9f9;
$border-white-card: #ffffff;
$bg-yellow-card: #a68356;
$border-yellow-card: #f4e7c6;
$bg-black-btn: #121212;
$border-black-btn: #575760;

// font family
$font-stack: "Poppins", sans-serif;

// fonts weights
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

// breakpoints
$breakPoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// text color
$text-black: $secondary-color;
$text-white: $primary-color;

// margin & padding
$margin-section: 5rem;
$padding-inline: 3rem;
