@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
.slide-image {
  width: 302px;
  height: 400px;
}

.swipper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-block: 20px;
  text-align: center;
  gap: 1px;
}
.swipper-section .description {
  margin-block: 15px;
}

.description .swipper-title h1 {
  font-weight: 400 !important;
}
.description .swipper-paragraph span {
  font-weight: 600;
}

.headerSection {
  background-image: url("/images/Nav/section.png");
  /* مسار الصورة */
  background-size: cover;
  /* لملء العنصر بالصورة */
  background-position: center;
  /* توسيط الصورة */
  background-repeat: no-repeat;
  /* منع تكرار الصورة */
  width: 100%;
  height: 530px;
  top: 62px;
  gap: 0px;
  /* ارتفاع العنصر */
  /* لتحديد مكان النص */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* لجعل النص في المنتصف */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* محاذاة النص أفقيًا */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* محاذاة النص عموديًا */
}

.headerText {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#ECECEC), to(rgba(236, 236, 236, 0.2)));
  background: linear-gradient(to right, #ECECEC, rgba(236, 236, 236, 0.2));
  -webkit-background-clip: text;
  color: transparent;
}

.headerTextSmall {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #E1E1E2;
}

.avatar {
  width: 192px;
  height: 48px;
  padding: 12px 16px 12px 8px;
  gap: 10px;
  border-radius: 12px 0px 0px 0px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 19px;
  color: #FFFFFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.call-to-action-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 192px;
  height: 48px;
  border-radius: 12px;
  background-color: #121212;
  border: 1px solid #575760;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin-top: 4px;
}

.availability-status {
  color: #E1E1E2;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.NAVBAR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  color: #121212;
  width: 628px;
  height: 64px;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(26, 56, 97, 0.1019607843);
          box-shadow: 0px 0px 8px 0px rgba(26, 56, 97, 0.1019607843);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 80px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
  border: 1px solid #E1E1E1;
}
@media (max-width: 600px) {
  .NAVBAR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    color: #121212;
    width: 343px;
    height: 64px;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(26, 56, 97, 0.1019607843);
            box-shadow: 0px 0px 8px 0px rgba(26, 56, 97, 0.1019607843);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.5019607843);
    margin-bottom: 80px;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1000;
    border: 1px solid #E1E1E1;
  }
  .NAVBAR #ptn {
    position: absolute;
    right: 45px;
  }
}

.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
  position: absolute;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 530px;
}

.main-content {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: #FFFFFF;
  text-align: center;
}
.main-content .subtext {
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 600px) {
  .main-content {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
  }
  .main-content .subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding: 8px 0px;
  }
}
.custom-button {
  color: #fff;
  background-color: #121212;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.custom-button::after {
  content: "Lets talk";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.custom-button:hover::after {
  opacity: 1;
}

.custom-button:hover {
  color: transparent;
  background: linear-gradient(239.08deg, #17223B -22.66%, #1A3861 61.15%);
}