.price-section {
  @include section;
  .price-container {
    @include container;
    @include text-center;
  }
  .price-cards {
    background-color: $bg-gray;
    border-radius: 24px;
    overflow: hidden;
    padding: 1rem;
    @include flex(center, space-between, row, 1rem, wrap);
    // width: calc(100% / 1);
    .card {
      flex-wrap:nowrap ;
      flex: 1;
      height: 491px;
      border-radius: 1rem;
      &:nth-child(1) {
        flex: 2;
      }
      &:nth-child(1),
      &:nth-child(3) {
        background-color: $bg-white-card;
        border: 1px solid $border-white-card;
        color: $text-black;
        .card-top {
          color: $text-black;
        }
      }
      &:nth-child(2) {
        background-color: $bg-yellow-card;
        border: $border-yellow-card;
        color: $text-white;
        .card-top {
          color: $text-white;
        }
      }
    }
  }
}
