$mobile: 600px;
$tablet: 768px;
$desktop: 1024px;
@import '../_variables.scss';
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 30px 0;
}

// .card {
//     height: 256px;
//     border: none;
//     border-radius: 16px;
//     overflow: hidden;
//     position: relative;
//     background-color: $primary-color;
//     cursor: pointer;
//     padding: 16px;
//     gap: 16px;
//     &:hover {
//         background: linear-gradient(45deg, $color1, $color2);
//     }
// }

.offerday {
    width: 584px;
    height: 32px;
    padding: 4px 8px 4px 8px;
    gap: 12px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    background-color: $ouer-color;
    @media (max-width: $mobile) {
        width: 343px;
        height: 56px;
        padding: 4px 8px 4px 8px;
        gap: 12px;
        border-radius: 8px 0px 0px 0px;
        opacity: 0px;
    }
}