.footer-section {
  background-color: $bg-footer;
  padding: 32px;
  position: relative;
  overflow: hidden;
  height: 413px;
  margin: 2.5rem;
  @include radius;

  @include for-phone {
    height: auto;
    margin: 1.5rem;
    padding: 20px;
  }

  .footer-container {
    @include flex(space-between, center, column, 0, nowrap);
    position: absolute;
    padding: 24px;
    left: 0;
    top: 0;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    background-image: url("/images/svg/footer/section.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    z-index: 1;
    margin: 10px;
    @include radius;

    @include for-phone {
      flex-direction: column;
      padding: 16px;
      width: 100%;
    }

    .footer-logo-section {
      text-align: center;

      @include for-phone {
        margin-bottom: 1rem;
      }
    }

    .top-section {
      @include flex(center, start, row, 32px, nowrap);

      @include for-phone {
        flex-direction: column;
        align-items: center;
      }
    }

    .bottom-section {
      width: 100%;
      @include flex(space-between, center, row, 0, nowrap);

      @include for-phone {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
      }
    }
  }

  .line-bottom {
    width: 100%;
    border: 0.5px solid darken($color: $footer-color, $amount: 45);
    margin-block: 1.5rem;

    @include for-phone {
      margin-block: 1rem;
    }
  }

  h1,
  p,
  .social-icons {
    color: $footer-color;

    @include for-phone {
      font-size: 1rem;
    }
  }

  .para-icons {
    @include flex(center, center, row, 1.5rem, nowrap);

    @include for-phone {
      flex-direction: column;
      align-items: center;
    }
  }
}
