$mobile: 600px;
$tablet: 768px;
$desktop: 1024px;
.call-to-action-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
}

.div-text {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 192px;
    height: 48px;
    border-radius: 12px;
    background-color: #121212;
    border: 1px solid #575760;
    justify-content: center;
}

.profile-image {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.availability {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}

.availability-status {
    color: #E1E1E2;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.NAVBAR {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #121212;
    width: 628px;
    height: 64px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px #1A38611A;
    backdrop-filter: blur(50px);
    background-color: #FFFFFF80;
    margin-bottom: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border: 1px solid #E1E1E1;
    @media (max-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        color: #121212;
        width: 343px;
        height: 64px;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px 0px #1A38611A;
        backdrop-filter: blur(50px);
        background-color: #FFFFFF80;
        margin-bottom: 80px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        border: 1px solid #E1E1E1;
        #ptn {
            position: absolute;
            right: 45px;
        }
    }
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    position: absolute;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 530px;
}

.main-content {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: #FFFFFF;
    text-align: center;
    .subtext {
        font-size: 16px;
        font-weight: 400;
        color: white;
        line-height: 24px;
        text-align: center;
    }
}

@media (max-width: $mobile) {
    .main-content {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
        .subtext {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: center;
            padding: 8px 0px;
        }
    }
}

.link-nav {
    cursor: pointer;
}