.left-container {
  width: 100%;
  @media (min-width: 998px) {
    max-width: 519px;
  }
  .header-description {
    margin-block: 1.3rem;
    .paragraph {
      p {
        @include main-parargraph;
      }
    }
    .title {
      padding-right: 4rem;
      display: flex;
      flex-wrap: wrap;
      h1 {
        @include main-title;
      }
      @media (min-width: 300px) and (max-width: 767px) {
        h1 {
          line-height: 25px;
        }
      }
    }
  }
  .card-descriptions {
    background-color: $bg-gray;
    width: 519px;
    height: 321px;
    @media (max-width: 767px) {
    width: calc(100% - 0.1rem);
    }
    @media (min-width: 768px) and (max-width: 998px) {
      width: 100%;
    }
    position: relative;
    overflow: hidden;
    @include radius;
    box-sizing: border-box;
    @include flex(center, center, row, 0.2rem, wrap);
    margin: auto;
    @media (min-width: 300px) and (max-width: 767px) {
      .card-descriptions {
        width: 100%;
        height: 500px;
      }
    }
    .card-paragraph {
      width: 100%;
    }
    .card-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 95%;
      background-image: url("/images/svg/qusetion-card/card.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 10;
      margin: 8px auto;
      border-radius: 40px;
    }
    .card-content {
      position: absolute;
      @media (min-width: 768px) {
        left: 24px;
        right: 24px;
        top: 1px;
        bottom: 1px;
      }

      padding: 33px 24px;
      color: $text-black;
      z-index: 20;
      .contact-btn {
        @include contact-btn;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        border-radius: 12px;
        color: #ffffff;
        text-align: center;
        border: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        &:nth-child(1),
        &:nth-child(2) {
          @include contact-btn;
        }
        &:nth-child(2) {
          background: $linear-gradient-btn;
        }
        &:hover {
          background: linear-gradient(107.33deg, #f0f0f0 2.74%, #e0e0e0 112.49%),
            #ffffff;
        }
      }
      .card {
        z-index: -5;
        .card-top {
          width: 248px;

          @include flex(space-between, center, row, 0.5rem, nowrap);
          @media (min-width: 300px) and (max-width(767px)) {
            img {
              max-width: 20%;
            }
          }
        }
      }
    }
  }
}
