.left-container {
  max-width: 519px;
  .header-description {
    margin-block: 1.3rem;
    .paragraph {
      p {
        @include main-parargraph;
      }
    }
    .title {
      padding-right: 4rem;
      display: flex;
      flex-wrap: wrap;
      h1 {
        @include main-title;
      }
      @media (min-width: 300px) and (max-width: 767px) {
        h1 {
            line-height: 25px;
        }
      }
    }
  }
  .card-descriptions {
    background-color: $bg-gray;
    width: 100%;
    height: 335px;
    position: relative;
    overflow: hidden;
    @include radius;
    padding: 8px;
    box-sizing: border-box;
    @include flex(center, center, row, 0.2rem, wrap);
    margin: auto;
    @media (min-width: 300px) and (max-width: 767px) {
      .card-descriptions {
        width: 300px;
        height: 400px;
      }
    }
    .card-paragraph {
      width: 100%;
    }
    .card-background {
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      background-image: url("/images/svg/qusetion-card/card.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 10;
      margin: 10px;
      @include radius;
    }
    .card-content {
      position: absolute;
      @media (min-width: 768px) {
        left: 24px;
        right: 24px;
        top: 1px;
        bottom: 1px;
      }
      @media (min-width:300px) and (max-width(767px)) {
        img{
            width: 20;
        }
      }
      padding: 33px 24px;
      color: $text-black;
      z-index: 20;
      .contact-btn {
        @include contact-btn;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        border: none;
        margin: 5px;
        &:nth-child(1),
        &:nth-child(2) {
          @include contact-btn;
        }
        &:nth-child(2) {
          background: $linear-gradient-btn;
        }
      }
      .card {
        z-index: -5;
        .card-top {
          width: 248px;
          @include flex(space-between, center, row, 0.5rem, nowrap);
        }
      }
    }
  }
}
