.right-section {
  width: 100%;
  @media (min-width: 997px) {
    max-width: 628px;
  }
  .icon {
    min-width: 10%;
    text-align: center;
  }
  .main-content {
    max-height: 155px;
    margin-top: 0.5rem;
    @media (min-width: 300px) {
      margin-bottom: 1rem;
    }
    @media (min-width: 992px) {
      margin-bottom: 4.5rem;
    }

    @include flex(start, start, column, 1rem, nowrap);
  }

  h1 {
    font-weight: $font-bold;
    color: $dark-color;
    @media (min-width: 300px) {
      font-size: 1rem;
      line-height: 22px;
    }
    @media (min-width: 992px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  p {
    font-weight: $font-regular;
    @media (min-width: 300px) {
      font-size: 0.9rem;
      line-height: 18px;
    }
    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 25px;
    }

    color: $para-color;
    padding-right: 2rem;
    text-wrap: wrap;
    text-align: left;
  }

  .right-title {
    width: 100%;
    @include flex(space-between, center, row, 0.2rem, nowrap);
  }
  .qa-item {
    @include flex(center, "", column, "", nowrap);
    @media (min-width: 300px) {
      min-height: 4rem;
    }
    @media (min-width: 992px) {
      min-height: 5.62rem;
    }

    border-bottom: 1px solid $dark-color;
  }

  .main-question {
    @include flex(space-between, center, row, 0.2rem, nowrap);
  }
  .question-header {
    @include flex(space-between, center, row, 0.2rem, nowrap);
    cursor: pointer;
  }
}
